h1 {
  margin: 0;
}

body {
  background-color: #9EBF27;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9EBF27;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dashboard {
  background-color: #FEEEDB;
  width: 80vw;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 20px;
  box-sizing: border-box;
}

.Dashboard-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.Dashboard-column {
  flex: 1;
  padding: 0px;
  background-color: #f6e2ca;
  border-radius: 10px;
  box-sizing: border-box;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .Dashboard-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .Dashboard-column {
    width: 100%;
    margin-bottom: 10px;
  }
}

.Funds {
  border-radius: 10px;
  background-color: #9EBF27;
  padding: 10px;

}