h1 {
    margin: 0;
}

body {
    background-color: #9ebf27;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #9ebf27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.C2-Description {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.C2-Description h4 {
    margin: 0px;
}

.Dashboard {
    background-color: #feeedb;
    width: 80vw;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 20px;
    box-sizing: border-box;
}

.Dashboard-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.Dashboard-column {
    flex: 1;
    padding: 0px;
    background-color: #f6e2ca;
    border-radius: 10px;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.Dashbuttons {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin: 20px 0px;
}

.Dashbuttons button {
    width: 50%;
    flex: 4;
    padding: 10px 20px;
    font-size: 1rem;
}

.Funds {
    position: relative;
    /* enable absolute children */
    overflow: hidden;
    /* keep circles inside the box */
    border-radius: 10px;
    background-color: #9ebf27;
    padding: 10px 50px;
}


.Funds::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;

    background:
    repeating-linear-gradient(135deg,
        rgba(255, 255, 255, 0.12) 0px,
        rgba(255, 255, 255, 0.12) 3px,
        transparent 3px,
        transparent 12px);



}





/* ensure content sits above pseudo-element */
.Funds>* {
    position: relative;
    z-index: 1;
}

.Funds-name {
    text-align: left;
    font-size: 30px;
}

.Funds-value {
    text-align: right;
    font-size: 50px;
}

@media (max-width: 768px) {
    .Dashboard-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .Dashboard-column {
        width: 100%;
        margin-bottom: 10px;
    }

    .Funds-name {
        text-align: center;
        font-size: 24px;
    }

    .Funds-value {
        text-align: center;
        font-size: 24px;
    }
}