.navbar {
    margin: 20px 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
    min-height: 30px;
    border-radius: 10px;
  }
  
  .nav-logo {
    color: #61dafb;
    font-weight: 700;
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #FEEEDB;
    padding: 8px 16px;
    border-radius: 24px;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
  }
  
  .nav-links a:hover {
    color: #61dafb;
  }


  @media (max-width: 460px){

  }
  